img {
  display: block;
  width: 100%;
}

.main-content {
  &__wrapper {
    width: 865px;
    margin-left: auto;
    margin-bottom: 80px;
  }

  &__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 28px;
  }

  &__h1 {
    color: #000000;
    font-weight: bold;
    font-size: 1.333rem;
    line-height: 137.5%;
    margin-bottom: 23px;
    text-transform: uppercase;

    & + * {margin-top: 23px !important;}
  }

  &__img {
    height: auto;
    width: 100%;
  }

  &__h2 {
    font-size: 1.33rem;
    font-weight: 700;
    line-height: 142%;
    margin: 40px 0 30px;
    text-transform: uppercase;
  }

  &__block {
    background: #F0F3F6;
    border: 1px solid #E2E2E2;
    padding: 20px 31px;

    & + & {
      margin-top: 30px;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 1.333rem;
    line-height: 137.5%;
    text-transform: uppercase;
  }

  &__divider {
    background: #9D9EA2;
    border-radius: 5px;
    height: 2px;
    margin: 20px 0;
    opacity: 0.3;

    &-small {
      background: #9D9EA2;
      border-radius: 5px;
      height: 1px;
      margin: 10px 0;
      opacity: 0.2;
    }
  }

  &__between {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    align-items: center;
    display: flex;

    img {
      margin-right: 19px;
      height: 36px;
      width: 36px;
    }

    span {
      color: #45484D;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      margin-right: 31px;

      & + span {
        position: relative;

        &::before {
          background: #CCCED3;
          content: '';
          position: absolute;
          top: 0;
          left: -16px;
          height: 100%;
          width: 1px;
        }
      }
    }
  }

  &__ul {
    li {
      align-items: flex-start;
      display: flex;

      img {
        margin-right: 26px;
        width: 50px;
      }

      p {
        align-items: center;
        color: #45484D;
        display: flex;
        font-size: 18px;
        line-height: 25px;
        min-height: 50px;

        span.bold {
          color: #2B4767;
          font-weight: bold;
          white-space: nowrap;
        }

        a {
          color: #FF9000;
          text-decoration: underline;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    li + li {
      margin-top: 30px;
    }
  }

  &__quote {
    color: #000000;
    line-height: 139%;
    margin: 40px 0;
    padding: 8px 0 8px 25px;
    position: relative;

    span {
      font-weight: 600;
    }

    &::before {
      background: #F9BA48;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav__open {top: 0;}

  .main-content {
    &__wrapper {
      width: 100%;
      margin-left: unset;
    }

    &__header {
      margin-top: 60px;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    &__block {padding: 20px;}
    &__name {font-size: 18px;}

    &__item {
      span {
        margin-right: unset;

        & + span::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .main-content {
    &__h1 {font-size: 18px;}
    &__h2 {margin: 30px 0;}
    &__quote {line-height: 22px; padding-left: 20px;}
    &__ul {
      li {
        img {
          margin-right: 20px;
        }

        p {
          font-size: 16px;
        }
      }
    }
    &__block {
      margin: 0 -15px;
    }
  }
}