.banner .slick-dots {
  bottom: 30px;
}
.banner .slick-dots li {
  width: 50px;
  height: 2px;
  margin-right: 17px;
  padding: 20px 0;
}
.banner .slick-dots li button {
  background: rgba(255, 234, 217, 0.3);
  padding: 0;
  width: 50px;
  height: 2px;
}
.banner .slick-dots li.slick-active button, .banner .slick-dots li:hover button {
  background: #FE8624;
}
.banner .slick-slide {
  height: 655px;
}
.banner .slick-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner__item .container {
  height: 100%;
  position: relative;
}
.banner__filter {
  background: #000000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.banner__caption {
  position: absolute;
  bottom: 54px;
  right: 15px;
  max-width: 513px;
  text-align: right;
}
.banner__title {
  color: #fff;
  font-size: 2.222rem;
  font-weight: bold;
  margin: 0 0 13px;
  max-width: 513px;
  text-transform: uppercase;
}
.banner__txt {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  margin-left: auto;
  max-width: 400px;
}
.banner__btn {
  display: inline-block;
}

.projects {
  margin: 50px 0;
}
.projects__wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template: 1fr 1fr/209fr 209fr 295fr 209fr 209fr;
  grid-template-areas: "project_1 project_1 project_4 project_5 project_6" "project_2 project_3 project_4 project_7 project_7";
  margin-top: 30px;
}
.projects__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects #project_1 {
  grid-area: project_1;
}
.projects #project_2 {
  grid-area: project_2;
}
.projects #project_3 {
  grid-area: project_3;
}
.projects #project_4 {
  grid-area: project_4;
}
.projects #project_5 {
  grid-area: project_5;
}
.projects #project_6 {
  grid-area: project_6;
}
.projects #project_7 {
  grid-area: project_7;
}

.services__short {
  background-image: url(../img/index/services__bg.jpg);
  background-size: cover;
  padding: 50px 0;
}
.services__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.services__title {
  color: #ffffff;
}
.services__divider {
  background: #ffffff;
  margin: 0 20px;
  height: 28px;
  width: 1px;
}
.services__presentation {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  line-height: 139%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.services__presentation:hover {
  text-decoration-line: none;
}
.services__presentation img {
  height: 26px;
  width: 26px;
  margin-right: 8px;
}
.services__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.services__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  width: 25%;
}
.services__icon {
  height: 70px;
  width: 70px;
  transition: 0.3s;
}
.services__icon:hover {
  transform: scale(1.1);
}
.services__description {
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  line-height: 139%;
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  width: 100%;
}
.services__description span {
  color: #F9BA48;
}
.services__long {
  background: #F0F3F6;
  padding: 50px 0;
}
.services__long p {
  margin-top: 15px;
}
.services__long p a {
  color: #2B4767;
  font-weight: bold;
}
.services__long ul {
  margin-top: 24px;
}
.services__long li {
  position: relative;
  margin-top: 10px;
  margin-left: 70px;
}
.services__long li::before {
  background: #F9BA48;
  content: "";
  position: absolute;
  top: 10px;
  left: -46px;
  height: 1px;
  width: 28px;
}
.services__phone {
  color: #2B4767;
  font-weight: bold;
}

.advantages {
  padding: 50px 0;
}
.advantages__title {
  margin-bottom: 51px;
}
.advantages__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages__item {
  margin-top: 20px;
  width: 16.666%;
}
.advantages__icon {
  height: 72px;
  width: 72px;
  transition: 0.3s;
}
.advantages__icon:hover {
  transform: scale(1.1);
}
.advantages__description {
  color: #45484D;
  line-height: 139%;
  margin-top: 30px;
  width: 170px;
}

.clients {
  padding: 50px 0;
}
.clients__filter {
  margin: 19px 0 26px;
  display: flex;
  flex-wrap: wrap;
}
.clients__filter a {
  color: #FF9000;
  display: block;
  font-size: 16px;
  line-height: 22px;
  margin-right: 20px;
  text-decoration-line: underline;
}
.clients__filter a:hover {
  text-decoration-line: none;
}
.clients__filter a.active {
  color: #000000;
  font-weight: bold;
  text-decoration-line: none;
}
.clients__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.clients__item {
  align-items: center;
  border: 1px solid #E2E2E2;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 195px;
  width: 195px;
}
.clients__img {
  height: auto;
  width: fit-content;
  transition: 0.3s;
}
.clients__img:hover {
  transform: scale(1.1);
}

.news {
  background: #F0F3F6;
  padding: 50px 0;
}
.news__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__item {
  margin-top: 29px;
  position: relative;
  width: 32%;
}
.news__item img {
  height: auto;
  width: 100%;
}
.news__item-list {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.news__subitem {
  display: flex;
  margin-top: 20px;
}
.news__subitem img {
  margin-right: 20px;
  height: 62px;
  width: 70px;
}
.news__subitem .news__title {
  font-size: 0.777rem;
  margin-top: 10px;
}
.news__date {
  border: 1px solid #FF9000;
  border-radius: 5px;
  color: #FF9000;
  font-size: 0.666rem;
  padding: 3px 10px;
  width: fit-content;
}
.news__button {
  border: 1px solid #FF9000;
  color: #FF9000;
  text-align: center;
  justify-content: center;
  line-height: 37px;
  height: 40px;
  width: 200px;
  margin: 20px auto 0;
}
.news__tag {
  background: #FFFFFF;
  color: #FF9000;
  font-size: 0.777rem;
  position: absolute;
  top: 20px;
  left: 0;
  letter-spacing: 0.05em;
  padding: 6px 15px;
  text-align: center;
  text-transform: uppercase;
}
.news__title {
  color: #FF9000;
  font-weight: bold;
  font-size: 1rem;
  line-height: 139%;
  margin-top: 20px;
}
.news__description {
  color: #45484D;
  font-size: 0.777rem;
  line-height: 105%;
  margin-top: 10px;
}

.gallery {
  padding: 50px 0;
}
.gallery__wrapper {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.gallery__list {
  width: auto;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}
.gallery__el {
  display: block;
  flex: 0 0 auto;
  margin: 20px 10px 0 0;
  height: auto;
  width: 371px;
}
.gallery__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.gallery__control {
  align-items: center;
  background: #FFFFFF;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 1px;
  padding: 8px;
}
.gallery__control img {
  height: 40px;
  width: 40px;
}

.team {
  background: #F0F3F6;
  padding: 50px 0;
}
.team__title {
  margin-bottom: 30px;
}
.team__wrapper {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team__item {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  margin-top: 30px;
  padding: 63px 43px;
  width: 49%;
}
.team__img {
  margin-right: 45px;
  height: 182px;
  width: 182px;
  transition: 0.3s;
}
.team__img:hover {
  transform: scale(1.1);
}
.team__name {
  color: #2B4767;
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  text-transform: uppercase;
}
.team__position {
  color: #45484D;
  font-weight: bold;
  font-size: 1rem;
  line-height: 150%;
  margin-top: 10px;
}
.team__mail {
  color: #FF9000;
  font-size: 0.888rem;
  text-decoration-line: underline;
  margin-top: 10px;
}
.team__mail:hover {
  text-decoration-line: none;
}

@media screen and (max-width: 1199px) {
  .home__el {
    height: auto;
  }

  .advantages__item {
    width: 33.333%;
  }

  .team__item {
    margin-top: 10px;
    padding: 30px 30px;
    width: 100%;
  }
  .team__img {
    height: 100px;
    width: 100px;
  }
  .team__name {
    font-size: 1rem;
  }
  .team__position {
    font-size: 0.888rem;
  }
}
@media screen and (max-width: 830px) {
  .services__item {
    width: 50%;
  }

  .services__description {
    font-size: 15px;
  }

  .clients__item {
    height: 120px;
    width: 120px;
  }

  .news__item {
    width: 49%;
  }

  .gallery__el {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .services__title {
    width: 100%;
  }
  .services__divider {
    display: none;
  }
  .services__presentation {
    margin-top: 20px;
  }

  .advantages__title {
    margin-bottom: 0;
  }
  .advantages__item {
    width: 50%;
  }
  .advantages__description {
    margin-top: 15px;
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .banner .slick-slide {
    height: 467px;
  }
  .banner__title {
    font-size: 1.5rem;
  }
  .banner__txt {
    font-size: 1.1rem;
  }
  .banner .slick-dots li {
    width: 25px;
  }
  .banner .slick-dots li button {
    width: 25px;
  }

  .projects__wrapper {
    grid-template: repeat(6, calc(50vw - 30px))/repeat(2, calc(50vw - 30px));
    grid-template-areas: "project_1 project_1" "project_2 project_3" "project_4 project_4" "project_4 project_4" "project_5 project_6" "project_7 project_7";
  }

  .services li {
    margin-left: 28px;
  }

  .services li::before {
    left: -28px;
    width: 15px;
  }

  .services .orange-button {
    width: 100%;
  }

  .clients__item {
    height: 68px;
    width: 68px;
  }

  .news__wrapper {
    flex-direction: column;
  }

  .news__item {
    width: 100%;
  }

  .gallery__el {
    width: 104px;
  }

  .team__item {
    padding: 20px 7px;
  }
  .team__img {
    margin-right: 10px;
    height: 70px;
    width: 70px;
  }
  .team__name {
    font-size: 0.875rem;
  }
  .team__position {
    font-size: 0.75rem;
  }
  .team__mail {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=index.css.map */
