@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url("../fonts/NotoSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

.section {
  width: 100%;
}

.section__title {
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  line-height: 136%;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.orange-button {
  background: #FF9000;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
}

.orange-button:hover {
  background: #d87a00;
}

.header {
  background: #2f4968;
  position: relative;
}

.header__contacts {
  background: -webkit-gradient(linear, left bottom, left top, from(#21344A), to(#21344A)), #2B4767;
  background: linear-gradient(0deg, #21344A, #21344A), #2B4767;
  opacity: .7;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 35px;
}

.header__contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .777rem;
  font-weight: 300;
  line-height: 135%;
  text-transform: uppercase;
}

.header__contact img {
  margin-right: 6px;
  height: 14px;
  width: 14px;
}

.header__divider {
  background: #FFFFFF;
  opacity: 0.3;
  margin: 0 20px;
  height: 14px;
  width: 1px;
}

.header__divider-big {
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 20px;
  opacity: 0.1;
  height: 36px;
  width: 1px;
}

.header__divider-big:nth-last-child(2) {
  margin-right: 0;
}

.header__main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  height: 34px;
  margin: 12px 0;
}

.header__logo img {
  height: 34px;
  width: 270px;
}

.header__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__divider-horizontal {
  display: none;
}

.header__mail {
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__nav li:hover > .header__drop {
  display: block;
}

.header__nav li + li {
  margin-left: 20px;
}

.header__nav a {
  color: #ECECEC;
  font-size: 16px;
  font-weight: 300;
  line-height: 137.5%;
  text-transform: uppercase;
}

.header__dropdown {
  margin-left: 8px;
  height: 5px;
  width: 11px;
}

.header__drop {
  background: #2f4968;
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 100;
}

.header__drop a {
  display: block;
  padding: 20px;
}

.header__drop a:hover {
  background: #385170;
}

.header__cart {
  position: relative;
  height: 22px;
  width: 22px;
}

.header__cart-number {
  background: #F9BA48;
  border: 1px solid #BFC7D1;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: .555rem;
  line-height: 140%;
  text-align: center;
  position: absolute;
  top: -4px;
  right: -3px;
  height: 15px;
  width: 15px;
}

.header__cart img {
  height: 22px;
  width: 22px;
}

.header__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 58px;
  width: 77px;
}

.header__button-wrapper {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__button-inner {
  background: #BFC7D1;
  border-radius: 2px;
  height: 2px;
  width: 36px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform-origin: right center;
          transform-origin: right center;
}

.header__button-inner + .header__button-inner {
  margin-top: 10px;
}

.header__button-inner:nth-last-child(2) {
  width: 28px;
}

.header__button.active {
  background: #202020;
}

.header__button.active .header__button-inner:nth-child(1) {
  -webkit-transform: rotateZ(-43deg);
          transform: rotateZ(-43deg);
}

.header__button.active .header__button-inner:nth-child(2) {
  opacity: 0;
}

.header__button.active .header__button-inner:nth-child(3) {
  -webkit-transform: rotateZ(43deg);
          transform: rotateZ(43deg);
}

.nav {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 93px;
  height: 655px;
  width: calc(300px + (100% - 1200px) / 2);
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background: url(../img/general/nav_bg.png), rgba(104, 104, 104, 0.8);
  background-blend-mode: hard-light, normal;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.nav__open {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #595B60;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 31px;
  left: 100%;
  height: 55px;
  width: 55px;
}

.nav__open img {
  height: 32px;
  width: 32px;
}

.nav__close {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  height: auto;
  width: auto;
  z-index: 6001;
}

.nav__close img {
  height: 24px;
  width: 24px;
}

.nav__inner {
  position: relative;
  width: 300px;
  height: 100%;
  float: right;
  z-index: 6000;
}

.nav__first {
  padding: 5px 5px 0 5px;
}

.nav__first-item {
  height: 50px;
}

.nav__first-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px 0 17px;
}

.nav__first-item a:hover, .nav__first-item a.active {
  background: rgba(48, 50, 56, 0.8);
  border-radius: 5px;
}

.nav__first-item a img {
  height: 26px;
  width: 26px;
}

.nav__first-item a span {
  color: #BDBDBE;
  font-size: 14px;
  line-height: 19px;
  width: calc(100% - 45px);
}

.nav__second {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #ff9000;
}

.nav__second-toggle {
  display: block;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.nav__second-toggle img {
  margin-left: 7px;
  vertical-align: middle;
}

.nav__second ul {
  display: none;
  padding: 0 45px 0 14px;
}

.nav__second-item {
  border-bottom: 2px dotted #fff;
}

.nav__second-item:last-child {
  border-bottom: none;
}

.nav__second-item a {
  display: block;
  line-height: 22px;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.nav__second:hover ul {
  display: block;
}

.nav.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.nav.active .nav__open {
  display: none;
}

.form {
  background: url(../img/general/form_bg.jpg);
  background-size: cover;
  padding: 50px 0;
}

.form__title {
  color: #FFFFFF;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 29px;
}

.form__input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 20px;
  height: 50px;
  width: 30%;
}

.form__input input {
  border: none;
  height: 100%;
  width: 100%;
}

.form__input img {
  height: 24px;
  width: 24px;
}

.form textarea {
  border: none;
  margin-top: 30px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  padding: 14px 20px;
}

.map {
  height: 350px;
  margin: 0;
}

.map__content {
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
}

.map__content-item {
  display: none;
  height: 100%;
}

.map__content-item.active {
  display: block;
}

.map__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.map__tabs-item {
  background: #45484D;
  cursor: pointer;
  padding: 6px 20px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  height: 50px;
  width: 300px;
}

.map__tabs-item.active {
  background: #FF9000;
}

.map__tabs-item:hover {
  background: #d87a00;
}

.map__tabs-item + .map__tabs-item {
  margin-left: 1px;
}

.map__city {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.map__addr {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}

.footer {
  background: #202020;
  padding: 30px 0 15px;
}

.footer .hidden {
  display: none;
}

.footer__main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  height: 34px;
  margin: 12px 0;
}

.footer__logo img {
  height: 34px;
  width: 270px;
}

.footer__right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav li + li {
  margin-left: 20px;
}

.footer__nav a {
  color: #ECECEC;
  font-size: .888rem;
  line-height: 137.5%;
  text-transform: uppercase;
}

.footer__under {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer__about {
  color: #B6B6B6;
  font-size: .777rem;
  line-height: 135%;
  max-width: 270px;
}

.footer__buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button + .footer__button {
  margin-left: 29px;
}

.footer__button img {
  margin-right: 13px;
  height: 26px;
  width: 26px;
}

.footer__button p {
  color: #FFFFFF;
  font-size: .777rem;
  line-height: 135%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__button:hover p {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__contacts * {
  display: block;
  text-align: right;
}

.footer__contacts a {
  color: #B6B6B6;
  font-size: .777rem;
  line-height: 135%;
}

.footer__mail {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__mail:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__social {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 12px;
}

.footer__social img {
  height: 24px;
  width: 24px;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__divider {
  background: #C4C4C4;
  opacity: 0.2;
  height: 1px;
  width: 100%;
}

.footer__end {
  color: #FFFFFF;
  font-size: .777rem;
  line-height: 19px;
  opacity: 0.2;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .nav {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    width: 320px;
  }
  .nav__inner {
    width: 320px;
  }
  .nav__open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1100px) {
  .header__main {
    position: relative;
    padding-right: 0;
  }
  .header__contact.mail {
    display: none;
  }
  .header__divider:nth-child(2) {
    display: none;
  }
  .header__divider-big {
    margin-right: 0 !important;
  }
  .header__divider-big.hidden {
    background: #2B4767;
  }
  .header__mobile {
    background: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0.95;
    padding: 30px 20px;
    position: absolute;
    top: 100%;
    left: 100%;
    height: 80vh;
    width: 320px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 1000;
  }
  .header__mobile.active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav li {
    margin-left: 50px !important;
  }
  .header__nav li + li {
    margin-top: 38px;
    margin-left: unset;
  }
  .header__divider-horizontal {
    background: #3C3C3C;
    display: block;
    height: 1px;
    width: 100%;
  }
  .header__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: .777rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 135%;
    margin-top: 16px;
    text-transform: uppercase;
  }
  .header__mail img {
    margin-right: 6px;
    height: 14px;
    width: 14px;
  }
  .header__divider-big:nth-last-child(2) {
    margin-right: 20px;
  }
  .header__divider-big:nth-last-child(4) {
    display: none;
  }
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__nav {
    display: none;
  }
  .footer__under {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .footer__about {
    text-align: center;
  }
  .footer__buttons {
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 20px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__button {
    margin-top: 10px;
  }
  .footer__button + .footer__button {
    margin-left: 0;
  }
  .footer__contacts * {
    text-align: center;
  }
  .footer__phone {
    margin-top: 10px;
  }
  .footer__mail {
    margin-top: 10px;
  }
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0;
  }
  .footer .hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 920px) {
  .map {
    height: 452px;
  }
  .map__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .map__tabs-item {
    height: auto;
    width: 100%;
  }
  .map__tabs-item + .map__tabs-item {
    margin-left: 0;
    margin-top: 1px;
  }
}

@media screen and (max-width: 700px) {
  .form__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    width: 100%;
  }
  .form__input + .form__input {
    margin-top: 20px;
  }
  .form__button {
    width: 270px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 16px;
  }
  .section__title {
    font-size: 24px;
  }
  .header__divider {
    margin: 0 7px;
  }
  .header__logo {
    height: 20px;
  }
  .header__logo img {
    height: 20px;
    width: 160px;
  }
}

.main-content__container {
  position: relative;
}

.main-content__wrapper {
  margin-left: auto;
  width: 865px;
  min-height: 1650px;
}

.main-content__title {
  margin: 40px 0 14px;
}

.main-content__count {
  color: #9D9EA2;
  font-size: .888rem;
  font-weight: normal;
  line-height: 137.5%;
  text-transform: none;
}

.main-content__open-filter {
  display: none;
  margin: 13px 0 20px 0;
  width: 180px;
}

.main-content__sort {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-content__sort-wrapper {
  border: 1px solid #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.main-content__sort-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 20px;
}

.main-content__sort-button > span {
  color: #FF9000;
  font-size: 16px;
  line-height: 22px;
  margin-right: 9px;
}

.main-content__sort-button > img {
  height: 6px;
  width: 12px;
}

.main-content__sort-button + .main-content__sort-button {
  position: relative;
}

.main-content__sort-button + .main-content__sort-button::before {
  background: #9D9EA2;
  content: '';
  opacity: 0.2;
  position: absolute;
  left: 0px;
  height: 20px;
  width: 1px;
}

.main-content__sort > span {
  font-size: 16px;
  line-height: 22px;
  margin-right: 19px;
}

.main-content__block {
  margin: 40px 0;
}

.main-content__block-title {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  text-transform: uppercase;
}

.main-content__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -ms-grid-rows: (auto)[auto-fit];
      grid-template-rows: repeat(auto-fit, auto);
  margin-top: 23px;
}

.main-content__item {
  border: 1px solid #E2E2E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content__item-content {
  padding: 20px;
}

.main-content__item-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content__item-header > img {
  height: auto;
  width: 100%;
}

.main-content__item-title {
  color: #FF9000;
  font-weight: bold;
  font-size: .888rem;
  line-height: 137.5%;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-content__item-title:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.main-content__item-title span {
  color: #45484D;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: none;
}

.main-content__item-price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__item-price span {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  margin-right: 8px;
}

.main-content__item-price img {
  height: 16px;
  width: 15px;
}

.main-content__item-divider {
  background: #9D9EA2;
  margin: 12px 0 7px;
  opacity: 0.5;
  height: 1px;
  width: 35px;
}

.main-content__item-characteristic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__item-characteristic + .main-content__item-characteristic {
  margin-top: 9px;
}

.main-content__item-characteristic img {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.main-content__item-characteristic img + span {
  color: #45484D;
  font-size: .777rem;
  line-height: 136%;
  margin-right: 5px;
}

.main-content__item-field {
  color: #45484D;
  font-size: .777rem;
  font-weight: bold;
  line-height: 136%;
}

.main-content__item-button {
  background: #FF9000;
  color: #FFFFFF;
  display: block;
  line-height: 139%;
  text-align: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  margin: 0 0 20px 20px;
  padding: 8px 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content__item-button:hover {
  background: #d87a00;
}

.filter {
  position: absolute;
  top: 645px;
  left: 0;
  width: 300px;
  -webkit-transition: .3s;
  transition: .3s;
}

.filter__close {
  display: none;
  margin: 0;
  width: 100%;
}

.filter__wrapper {
  background: #F0F3F6;
  border: 1px solid #E2E2E2;
  padding: 30px 20px;
}

.filter__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.filter__input-container {
  position: relative;
  margin-top: 15px;
}

.filter__input-container input {
  padding: 9px 10px;
}

.filter__input-title {
  color: #9D9EA2;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}

.filter__input-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__input-between input {
  height: 40px;
  width: 120px;
}

.filter__input-slider {
  background: #9D9EA2;
  border: none !important;
  opacity: 0.5;
  border-radius: 5px;
  height: 2px;
  margin-top: 20px;
}

.filter__input-slider .ui-slider-range {
  background: #FF9000;
  border: none;
  border-radius: 5px;
  height: 2px;
}

.filter__input-slider .ui-slider-handle {
  background: #FFFFFF;
  border: 1px solid #FF9000;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}

.filter__input-slider .ui-slider-handle.ui-state-focus, .filter__input-slider .ui-slider-handle.ui-state-hover {
  border: 2px solid #FF9000;
  outline: none;
}

.filter__input-suffix {
  color: #45484D;
  display: block;
  font-size: 12px !important;
  line-height: 16px;
  position: absolute;
  left: 0;
  top: 12px;
  color: #555;
  padding-left: 5px;
  font: inherit;
}

.filter__input-suffix#resolution {
  font-size: 16px;
  top: 10px;
}

.filter__input-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__input-radio {
  display: none;
}

.filter__input-radio + label {
  color: #45484D;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-right: 20px;
  padding-left: 28px;
  position: relative;
}

.filter__input-radio + label::before {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
}

.filter__input-radio:checked + label::before {
  border: 1px solid #FF9000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FF9000'/%3e%3c/svg%3e");
}

.filter__input-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/inform-kioski/select_arrow.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: none;
  color: #45484D;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 10px;
  outline: none;
  height: 40px;
  width: 100%;
}

.filter__full {
  color: #FF9000;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.filter__full:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.filter__submit {
  background: #FF9000;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  height: 40px;
  width: 140px;
}

.filter__submit:hover {
  background: #d87a00;
}

.filter__reset {
  background: none;
  border: none;
  color: #9D9EA2;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-right: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.filter__reset:hover {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.about {
  background: #F0F3F6;
  padding: 50px 0;
}

.about p {
  margin-top: 15px;
}

.about p span {
  font-weight: bold;
  text-transform: uppercase;
}

.about ul {
  margin: 20px 0;
}

.about li {
  color: #45484D;
  position: relative;
  margin-top: 10px;
  margin-left: 70px;
}

.about li::before {
  background: #F9BA48;
  content: '';
  position: absolute;
  top: 10px;
  left: -46px;
  height: 1px;
  width: 28px;
}

@media screen and (max-width: 1200px) {
  .nav__open {
    top: 0;
  }
  .main-content__title {
    margin-top: 60px;
    margin-bottom: 25px;
  }
  .main-content__wrapper {
    width: 100%;
    margin-left: unset;
  }
  .main-content__open-filter {
    display: block;
  }
  .main-content__filter-wrapper {
    position: relative;
  }
  .filter {
    -webkit-box-shadow: #45484D 2px 2px 10px;
            box-shadow: #45484D 2px 2px 10px;
    -webkit-transform: translateX(-110%);
            transform: translateX(-110%);
    top: 0;
    left: -15px;
    z-index: 1;
  }
  .filter.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .filter.active .filter__close {
    display: block;
  }
}

@media screen and (max-width: 594px) {
  .main-content__grid {
    -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .main-content__item-content {
    padding: 10px;
  }
  .main-content__item-title {
    font-size: 12px;
  }
  .main-content__item-price span {
    font-size: 16px;
    margin-right: 3px;
  }
  .main-content__item-price img {
    height: 10px;
    width: 9px;
  }
  .main-content__item-characteristic img + span {
    display: none;
  }
  .main-content__item-button {
    margin: 0;
    width: 100%;
  }
  .about li {
    margin-left: 28px;
  }
  .about li::before {
    left: -28px;
    width: 15px;
  }
  .about .orange-button {
    width: 100%;
  }
}

@media screen and (max-width: 416px) {
  .main-content__grid {
    grid-gap: 10px;
    -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}
/*# sourceMappingURL=inform-kioski.css.map */