.main-content__container {
  position: relative;
}
.main-content__wrapper {
  margin-left: auto;
  min-height: 615px;
  width: 865px;
}
.main-content__title {
  margin: 40px 0 24px;
}
.main-content__data {
  display: grid;
  grid-template-columns: 345px 1fr;
  grid-template-rows: 543px;
  grid-gap: 30px;
}
.main-content__gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content__big-carousel {
  align-items: center;
  border: 1px solid #E2E2E2;
  display: flex;
  height: 450px;
}
.main-content__big-carousel .slick-track {
  align-items: center;
  display: flex;
}
.main-content__big-carousel img {
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.main-content__big-carousel .slick-prev {
  background: transparent;
  background-image: url(../img/inform-kioski/arrow_left.svg);
  background-size: unset;
  border: none;
  border-radius: unset;
  left: 0;
  height: 68px;
  width: 68px;
  z-index: 1;
}
.main-content__big-carousel .slick-next {
  background: transparent;
  background-image: url(../img/inform-kioski/arrow_right.svg);
  background-size: unset;
  border: none;
  border-radius: unset;
  right: 0;
  height: 68px;
  width: 68px;
  z-index: 1;
}
.main-content__thumbs-carousel .slick-current img {
  border: 1px solid #FF9000;
}
.main-content__thumbs-container img {
  height: 73px;
  object-fit: cover;
}
.main-content__info {
  width: 100%;
}
.main-content__buy {
  display: grid;
  grid-template-columns: auto 1fr;
}
.main-content__buy button {
  align-self: flex-end;
  margin-top: 0;
  width: 100%;
}
.main-content__price {
  margin-right: 30px;
}
.main-content__price-title {
  color: #45484D;
  font-size: 14px;
  line-height: 19px;
}
.main-content__price-value {
  color: #000000;
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}
.main-content__divider {
  background: #E2E2E2;
  height: 1px;
  margin: 16px 0 9px;
}
.main-content__rent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-content__rent-value {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  margin-right: 7px;
}
.main-content__rent-value img {
  height: 13px;
  width: 12px;
}
.main-content__rent-title {
  color: #45484D;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
}
.main-content__rent-button {
  color: #9D9EA2;
  cursor: pointer;
  font-size: 16px;
  line-height: 27px;
  text-decoration-line: underline;
}
.main-content__rent-button:hover {
  text-decoration-line: none;
}
.main-content__calc {
  background: #F0F3F6;
  border: 1px solid #E2E2E2;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, auto);
  margin-top: 15px;
  padding: 27px 20px;
}
.main-content__calc-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  grid-column: 1/-1;
}
.main-content__calc-input span {
  color: #9D9EA2;
  font-size: 16px;
  line-height: 22px;
}
.main-content__calc-input select {
  appearance: none;
  background-image: url(../img/inform-kioski/select_arrow.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: none;
  color: #45484D;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-top: 10px;
  padding: 9px 10px;
  outline: none;
  height: 40px;
  width: 100%;
}
.main-content__ral {
  grid-column: -1/1;
  grid-row: 4;
  overflow: hidden;
  width: 100%;
}
.main-content__ral span {
  color: #9D9EA2;
  font-size: 16px;
  line-height: 22px;
}
.main-content__ral-carousel {
  margin-top: 15px;
  padding: 0 19px;
}
.main-content__ral-carousel .slick-prev {
  background: transparent;
  background-image: url(../img/inform-kioski/ral-left.svg);
  background-size: unset;
  border: none;
  border-radius: unset;
  left: 0;
  height: 15px;
  width: 7px;
}
.main-content__ral-carousel .slick-next {
  background: transparent;
  background-image: url(../img/inform-kioski/ral-right.svg);
  background-size: unset;
  border: none;
  border-radius: unset;
  right: 0;
  height: 15px;
  width: 7px;
}
.main-content__ral-carousel .slick-current .main-content__ral-item {
  border: 1px solid #FF9000;
}
.main-content__ral-item {
  cursor: pointer;
  height: 40px;
  line-height: 38px;
  margin-right: 4px;
  text-align: center;
}
.main-content__ral-item#ral-7035 {
  background: #C2C4C1;
}
.main-content__ral-item#ral-1000 {
  background: #C3B686;
}
.main-content__ral-item#ral-1001 {
  background: #C7AC84;
}
.main-content__ral-item#ral-1002 {
  background: #C8A66F;
}
.main-content__ral-item#ral-1003 {
  background: #EFA433;
}
.main-content__full {
  color: #FF9000;
  cursor: pointer;
  font-size: 16px;
  grid-column: 1/-1;
  grid-row: 5;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
}
.main-content__full:hover {
  text-decoration-line: none;
}

.description {
  padding-top: 40px;
}
.description__wrapper {
  max-width: 970px;
}
.description__wrapper > p {
  color: #45484D;
  line-height: 139%;
}
.description__divider {
  background: #E2E2E2;
  display: none;
  margin: 25px 0;
  height: 1px;
  width: 100px;
}
.description__delivery {
  align-items: center;
  display: flex;
  margin-top: 40px;
}
.description__delivery img {
  margin-right: 23px;
  height: 50px;
  width: 50px;
}
.description__delivery p {
  color: #9D9EA2;
  font-size: 16px;
  line-height: 22px;
}

.other__block {
  margin: 40px 0;
}
.other__block-title {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  text-transform: uppercase;
}
.other__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 260px));
  margin-top: 23px;
}
.other__item {
  border: 1px solid #E2E2E2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.other__item-content {
  padding: 20px;
}
.other__item-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.other__item-header > img {
  height: auto;
  width: 100%;
}
.other__item-title {
  color: #FF9000;
  font-weight: bold;
  font-size: 0.888rem;
  line-height: 137.5%;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.other__item-title:hover {
  text-decoration-line: underline;
}
.other__item-title span {
  color: #45484D;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: none;
}
.other__item-price {
  align-items: center;
  display: flex;
}
.other__item-price span {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  margin-right: 8px;
}
.other__item-price img {
  height: 16px;
  width: 15px;
}
.other__item-divider {
  background: #9D9EA2;
  margin: 12px 0 7px;
  opacity: 0.5;
  height: 1px;
  width: 35px;
}
.other__item-characteristic {
  align-items: center;
  display: flex;
}
.other__item-characteristic + .other__item-characteristic {
  margin-top: 9px;
}
.other__item-characteristic img {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
.other__item-characteristic img + span {
  color: #45484D;
  font-size: 0.777rem;
  line-height: 136%;
  margin-right: 5px;
}
.other__item-field {
  color: #45484D;
  font-size: 0.777rem;
  font-weight: bold;
  line-height: 136%;
}
.other__item-button {
  background: #FF9000;
  color: #FFFFFF;
  display: block;
  line-height: 139%;
  text-align: center;
  transition: all 0.3s linear;
  margin: 0 0 20px 20px;
  padding: 8px 25px;
  width: fit-content;
}
.other__item-button:hover {
  background: #d87a00;
}

@media screen and (max-width: 1200px) {
  .nav__open {
    top: 0;
  }

  .main-content__title {
    margin-top: 60px;
    margin-bottom: 25px;
  }
  .main-content__wrapper {
    width: 100%;
    margin-left: unset;
  }
}
@media screen and (max-width: 900px) {
  .main-content__wrapper {
    min-height: unset;
  }
  .main-content__data {
    grid-template-rows: auto;
    grid-template-columns: 280px 1fr;
  }
  .main-content__gallery {
    justify-content: flex-start;
  }
  .main-content__thumbs-carousel {
    margin-top: 10px;
  }
  .main-content__calc {
    grid-template-columns: 100%;
  }
  .main-content__ral {
    grid-row: unset;
  }
  .main-content__full {
    grid-row: unset;
  }
}
@media screen and (max-width: 594px) {
  .main-content__data {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .main-content__big-carousel {
    height: calc(100vw - 30px);
  }
  .main-content__calc {
    margin-left: -15px;
    width: 100vw;
  }

  .other__grid {
    grid-template-columns: repeat(auto-fill, 170px);
  }
  .other__item-content {
    padding: 10px;
  }
  .other__item-title {
    font-size: 12px;
  }
  .other__item-price span {
    font-size: 16px;
    margin-right: 3px;
  }
  .other__item-price img {
    height: 10px;
    width: 9px;
  }
  .other__item-characteristic img + span {
    display: none;
  }
  .other__item-button {
    margin: 0;
    width: 100%;
  }

  .description__divider {
    display: block;
  }
  .description__delivery {
    flex-wrap: wrap;
  }
  .description__delivery p {
    margin-top: 12px;
  }
}
@media screen and (max-width: 416px) {
  .other__grid {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 130px);
  }
}

/*# sourceMappingURL=inform-kioski-inner.css.map */
