.main-content__container {
  position: relative;
}
.main-content__wrapper {
  margin-left: auto;
  width: 865px;
  min-height: 1650px;
}
.main-content__title {
  margin: 40px 0 14px;
}
.main-content__count {
  color: #9D9EA2;
  font-size: 0.888rem;
  font-weight: normal;
  line-height: 137.5%;
  text-transform: none;
}
.main-content__open-filter {
  display: none;
  margin: 13px 0 20px 0;
  width: 180px;
}
.main-content__sort {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.main-content__sort-wrapper {
  border: 1px solid #E2E2E2;
  display: flex;
  margin-top: 10px;
}
.main-content__sort-button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 9px 20px;
}
.main-content__sort-button > span {
  color: #FF9000;
  font-size: 16px;
  line-height: 22px;
  margin-right: 9px;
}
.main-content__sort-button > img {
  height: 6px;
  width: 12px;
}
.main-content__sort-button + .main-content__sort-button {
  position: relative;
}
.main-content__sort-button + .main-content__sort-button::before {
  background: #9D9EA2;
  content: "";
  opacity: 0.2;
  position: absolute;
  left: 0px;
  height: 20px;
  width: 1px;
}
.main-content__sort > span {
  font-size: 16px;
  line-height: 22px;
  margin-right: 19px;
}
.main-content__block {
  margin: 40px 0;
}
.main-content__block-title {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  text-transform: uppercase;
}
.main-content__grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-template-rows: repeat(auto-fit, auto);
  margin-top: 23px;
}
.main-content__item {
  border: 1px solid #E2E2E2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-content__item-content {
  padding: 20px;
}
.main-content__item-header {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-content__item-header > img {
  height: auto;
  width: 100%;
}
.main-content__item-title {
  color: #FF9000;
  font-weight: bold;
  font-size: 0.888rem;
  line-height: 137.5%;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.main-content__item-title:hover {
  text-decoration-line: underline;
}
.main-content__item-title span {
  color: #45484D;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: none;
}
.main-content__item-price {
  align-items: center;
  display: flex;
}
.main-content__item-price span {
  font-weight: bold;
  font-size: 1.333rem;
  line-height: 137.5%;
  margin-right: 8px;
}
.main-content__item-price img {
  height: 16px;
  width: 15px;
}
.main-content__item-divider {
  background: #9D9EA2;
  margin: 12px 0 7px;
  opacity: 0.5;
  height: 1px;
  width: 35px;
}
.main-content__item-characteristic {
  align-items: center;
  display: flex;
}
.main-content__item-characteristic + .main-content__item-characteristic {
  margin-top: 9px;
}
.main-content__item-characteristic img {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
.main-content__item-characteristic img + span {
  color: #45484D;
  font-size: 0.777rem;
  line-height: 136%;
  margin-right: 5px;
}
.main-content__item-field {
  color: #45484D;
  font-size: 0.777rem;
  font-weight: bold;
  line-height: 136%;
}
.main-content__item-button {
  background: #FF9000;
  color: #FFFFFF;
  display: block;
  line-height: 139%;
  text-align: center;
  transition: all 0.3s linear;
  margin: 0 0 20px 20px;
  padding: 8px 25px;
  width: fit-content;
}
.main-content__item-button:hover {
  background: #d87a00;
}

.filter {
  position: absolute;
  top: 645px;
  left: 0;
  width: 300px;
  transition: 0.3s;
}
.filter__close {
  display: none;
  margin: 0;
  width: 100%;
}
.filter__wrapper {
  background: #F0F3F6;
  border: 1px solid #E2E2E2;
  padding: 30px 20px;
}
.filter__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}
.filter__input-container {
  position: relative;
  margin-top: 15px;
}
.filter__input-container input {
  padding: 9px 10px;
}
.filter__input-title {
  color: #9D9EA2;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
}
.filter__input-between {
  display: flex;
  justify-content: space-between;
}
.filter__input-between input {
  height: 40px;
  width: 120px;
}
.filter__input-slider {
  background: #9D9EA2;
  border: none !important;
  opacity: 0.5;
  border-radius: 5px;
  height: 2px;
  margin-top: 20px;
}
.filter__input-slider .ui-slider-range {
  background: #FF9000;
  border: none;
  border-radius: 5px;
  height: 2px;
}
.filter__input-slider .ui-slider-handle {
  background: #FFFFFF;
  border: 1px solid #FF9000;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.filter__input-slider .ui-slider-handle.ui-state-focus, .filter__input-slider .ui-slider-handle.ui-state-hover {
  border: 2px solid #FF9000;
  outline: none;
}
.filter__input-suffix {
  color: #45484D;
  display: block;
  font-size: 12px !important;
  line-height: 16px;
  position: absolute;
  left: 0;
  top: 12px;
  color: #555;
  padding-left: 5px;
  font: inherit;
}
.filter__input-suffix#resolution {
  font-size: 16px;
  top: 10px;
}
.filter__input-inline {
  display: flex;
}
.filter__input-radio {
  display: none;
}
.filter__input-radio + label {
  color: #45484D;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-right: 20px;
  padding-left: 28px;
  position: relative;
}
.filter__input-radio + label::before {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
}
.filter__input-radio:checked + label::before {
  border: 1px solid #FF9000;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FF9000'/%3e%3c/svg%3e");
}
.filter__input-select {
  appearance: none;
  background-image: url(../img/inform-kioski/select_arrow.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border: none;
  color: #45484D;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  padding: 9px 10px;
  outline: none;
  height: 40px;
  width: 100%;
}
.filter__full {
  color: #FF9000;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  text-align: center;
  text-decoration-line: underline;
}
.filter__full:hover {
  text-decoration-line: none;
}
.filter__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.filter__submit {
  background: #FF9000;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  transition: all 0.3s linear;
  height: 40px;
  width: 140px;
}
.filter__submit:hover {
  background: #d87a00;
}
.filter__reset {
  background: none;
  border: none;
  color: #9D9EA2;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  margin-right: 15px;
  text-decoration-line: underline;
}
.filter__reset:hover {
  text-decoration-line: none;
}

.about {
  background: #F0F3F6;
  padding: 50px 0;
}
.about p {
  margin-top: 15px;
}
.about p span {
  font-weight: bold;
  text-transform: uppercase;
}
.about ul {
  margin: 20px 0;
}
.about li {
  color: #45484D;
  position: relative;
  margin-top: 10px;
  margin-left: 70px;
}
.about li::before {
  background: #F9BA48;
  content: "";
  position: absolute;
  top: 10px;
  left: -46px;
  height: 1px;
  width: 28px;
}

@media screen and (max-width: 1200px) {
  .nav__open {
    top: 0;
  }

  .main-content__title {
    margin-top: 60px;
    margin-bottom: 25px;
  }
  .main-content__wrapper {
    width: 100%;
    margin-left: unset;
  }
  .main-content__open-filter {
    display: block;
  }
  .main-content__filter-wrapper {
    position: relative;
  }

  .filter {
    box-shadow: #45484D 2px 2px 10px;
    transform: translateX(-110%);
    top: 0;
    left: -15px;
    z-index: 1;
  }
  .filter.active {
    transform: translateX(0);
  }
  .filter.active .filter__close {
    display: block;
  }
}
@media screen and (max-width: 594px) {
  .main-content__grid {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .main-content__item-content {
    padding: 10px;
  }
  .main-content__item-title {
    font-size: 12px;
  }
  .main-content__item-price span {
    font-size: 16px;
    margin-right: 3px;
  }
  .main-content__item-price img {
    height: 10px;
    width: 9px;
  }
  .main-content__item-characteristic img + span {
    display: none;
  }
  .main-content__item-button {
    margin: 0;
    width: 100%;
  }

  .about li {
    margin-left: 28px;
  }

  .about li::before {
    left: -28px;
    width: 15px;
  }

  .about .orange-button {
    width: 100%;
  }
}
@media screen and (max-width: 416px) {
  .main-content__grid {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  }
}

/*# sourceMappingURL=inform-kioski.css.map */
