img {
  display: block;
  width: 100%;
}

.main-content {
  &__wrapper {
    width: 865px;
    margin-left: auto;
    margin-bottom: 80px;
  }

  &__header {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 28px;
  }

  &__h1 {
    color: #000000;
    font-weight: bold;
    font-size: 1.333rem;
    line-height: 137.5%;
    margin-bottom: 23px;
    text-transform: uppercase;

    & + * {margin-top: 23px !important;}
  }

  &__img {
    height: auto;
    width: 100%;
  }

  &__h2 {
    font-size: 1.33rem;
    font-weight: 700;
    line-height: 142%;
    margin: 40px 0 30px;
    text-transform: uppercase;
  }

  &__h3 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin: 40px 0 30px;
    text-transform: uppercase;
  }

  &__quote {
    color: #000000;
    line-height: 139%;
    margin: 30px 0;
    padding: 8px 0 8px 25px;
    position: relative;

    span {
      font-weight: 600;
    }

    &::before {
      background: #F9BA48;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
    }
  }

  &__ul {
    li {
      color: #45484D;
      padding-left: 25px;
      position: relative;

      &::before {
        background: #45484D;
        border-radius: 50%;
        content: '';
        position: absolute;
        top: 12px;
        left: 10px;
        height: 4px;
        width: 4px;
      }
    }

    li + li {
      margin-top: 15px;
    }
  }

  &__text {
    color: #000000;
    margin: 40px 0 0;

    a {
      color: #FF9000;
      text-decoration-line: underline;

      &:hover {text-decoration-line: none;}
    }
  }

  &__cards {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px 0 40px;
  }

  &__card {
    img {
      height: 72px;
      width: auto;
    }

    p {
      color: #45484D;
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav__open {top: 0;}

  .main-content {
    &__wrapper {
      width: 100%;
      margin-left: unset;
    }

    &__header {
      margin-top: 60px;
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 800px) {
  .main-content__cards {
    grid-column-gap: 17px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .main-content {
    &__wrapper {margin-bottom: 40px;}
    &__h1 {font-size: 18px;}
    &__h2 {font-size: 20px;}
    &__quote {line-height: 22px; padding-left: 20px;}
    &__text {margin: 25px 0;}
  }
}